# Adding to .gitignore helps reduce the size of your working_dir

.git
*.out
*.log
*.tar
*.tar.gz
.venv
venv
venvs
__pycache__/
_build/
build/
apidocs/
dist/
*.egg-info/
*.vscode/
release_run*
ckpts/
3rdparty/vllm

# Test
coverage.json
.coverage*
test_assets/

# Cache
uv_cache/
hf_home/
hf_datasets_cache/
*logs/
datasets/
docker/*
!docker/Dockerfile
!docker/README.md
wandb/
checkpoints/
results/
code_snapshots/

# Runtime env
*runtime_env.yaml
!default_runtime_env.yaml
