[submodule "3rdparty/NeMo"]
	path = 3rdparty/NeMo-workspace/NeMo
	url = https://github.com/NVIDIA/NeMo.git
	branch = ashors/nemorl-qwen3
	shallow = true
[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM-workspace/Megatron-LM
	url = https://github.com/terrykong/Megatron-LM.git
	branch = sahilj/megatron-external-loss-norm
	shallow = true
